* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: url(img/project-2.jpg) no-repeat center center/ cover;
  height: 100vh;
  position: relative;
}

#open-btn {
  position: absolute;
  top: 70%;
  left: 20%;
  height: 70px;
  width: 250px;
  font-size: 1.7rem;
  border-radius: 10px;
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  transition: 0.5s;
}

#open-btn:hover {
  background-color: #fff;
  color: #000000;
  cursor: pointer;
}

#modal {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff;
  transform: translate(-50%, -50%);
  height: 120px;
  width: 350px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  font-size: 1.6rem;
  transition: 0.5s;

  animation-name: animatemodal;
  animation-duration: 0.4s;
}

#close-btn {
  font-size: 4rem;
  border: none;
  background-color: #fff;
  color: #ff0000;
}

#close-btn:hover {
  cursor: pointer;
  color: #a10606;
}

#modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
}

/* Modal Animation Section */
@keyframes animatemodal {
  from {
    top: -300%;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}
